body { 
  background: lightgray;
}

h1 {
  border: blue solid;
  background: white;
}

header h1 {
  text-align: center;
}

header {
  border-bottom: black dashed;
}

footer {
  border-top: black solid;
}

a:visited {
  color:red;
}

a:hover {
  color:brown;
}

figcaption {
  font-style: italic;
}

li:first-letter {
  font-weight: bold;
  font-size : 140%
}
