body { 
  background: #ff66ff;
  padding-left: 5%;
  padding-right: 5%;
}

header
{
  background: Coral;
  padding: 5px;
}

footer {
  background: DarkMagenta;
  padding: 10px;
  color: white;
}

footer a {
  color: wheat;
}

header h1 {
  text-align: center;
}

article {
  background: Magenta;
  padding: 5px;
}

a:hover {
  color: brown;
}

nav a {
  font-style: oblique;
}

figcaption {
  font-style: italic;
  font-family: 'Itim', cursive;
}

h2 {
  font-family: 'Righteous', cursive;
}

img {
  padding: 5px;
  background: black;
}

.copyright {
  text-align: center;
}

figure {
  float: right;
}

/* tried li:nth-type-of() but didn't work in Chrome */
li:nth-child(even){
  list-style-type: square;
}

li:nth-child(odd){
  list-style-type: circle;
}


